<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      <!--EL ARCHIVO DE CONFIGURACION (DONDE SE COLOCA LA FECHA DEL SISTEMA SE ENCUENTRA EN EL ARCHIVO configuracion_sistema.txt DENTRO DE ESTA MISMA CARPETA-->
    </startup>
</configuration>